<%-  include('partials/header') %>

   <style >

   html{
     height: 100%
   }
     .fas{
       display: flex;
       justify-content: center;
       margin: 5%;
     }

     .container{
       display: flex;
       justify-content: center;
       height: 200px;
     }
       .center{
          display: flex;
          flex-direction: column;
          margin: 10%;
          height: 500px;
       }


   </style>

     <div class="center jumbotron jumbotron-fluid">

        <i class="fas fa-key fa-6x" style="color:#474a56"></i>
       <div class="container">
         <form action="/" method="post">

         <table class="table">
  <tbody>

    <tr>
      <td><label for="exampleInputEmail1">Email address</label></td>
      <td><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"></td>
    </tr>

    <tr>
      <td> <label for="exampleInputPassword1">Password</label></td>
      <td> <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"></td>
    </tr>

  </tbody>
</table>
  <button type="submit" name="button">submit</button>
     </form>
       </div>
     </div>

<%- include('partials/footer') %>;
