<%-  include('partials/header') %>

  <div class=" jumbotron jumbotron-fluid ">
    <div class="container-fluid">
      <div class="div1">
        <div class="key-icon">
             <i class="fas fa-key fa-6x" style="color:#474a56"></i>
        </div>

        <h1>Secrets</h1>
        <p>Keep your secrets away from people</p>
      </div>
       <hr>
       <div class="div2">
         <a href="/login" class="btn btn-dark btn-lg" >login</a>
         <a href="/signup" class="btn btn-dark btn-lg">Sign-up</a>
       </div>

    </div>

</div>


<%- include('partials/footer') %>
