<%- include('partials/header')  %>

    <div class="jumbotron jumbotron-fluid">

          <div class="container container-fluid">
                  <h1>My Secrets</h1>
                  <p>you discovered my Secrets</p>
          </div>
    </div>
<%- include('partials/footer')  %>
